Repository openlattice/openlattice, pull requests merged in 2021-01, with the labels that each got.

#76 add bulk writes to improve perf on adding org datasets
  conductor-client/src/main/kotlin/com/openlattice/datastore/services/EntitySetService.kt
  conductor-client/src/main/kotlin/com/openlattice/organizations/OrganizationMetadataEntitySetsService.kt
  datastore/src/main/java/com/openlattice/controllers/OrganizationsController.java
  indexer/src/main/kotlin/com/openlattice/BackgroundExternalDatabaseSyncingService.kt
Labels: conductor, datastore, indexer, rolling deploy

#78 Bugfix/handle tables with no columns
  conductor-client/src/main/java/com/openlattice/postgres/PostgresColumn.java
  conductor-client/src/main/java/com/openlattice/postgres/ResultSetAdapters.java
  conductor-client/src/main/kotlin/com/openlattice/organizations/ExternalDatabaseManagementService.kt
  indexer/src/main/kotlin/com/openlattice/BackgroundExternalDatabaseSyncingService.kt
Labels: indexer, rolling deploy

#80 more cleanup/fixes
  conductor-client/src/main/kotlin/com/openlattice/organizations/ExternalDatabaseManagementService.kt
Labels: rolling deploy

#86 propertyTypeId is optional, but the endpoint throws if it's not passed
  datastore/src/main/java/com/openlattice/datastore/data/controllers/DataController.java
Labels: datastore, rolling deploy

#90 add GraphApi to ApiClient
  api/src/main/java/com/openlattice/client/ApiClient.java
  api/src/main/kotlin/com/openlattice/graph/GraphApi.kt
Labels: api, rolling deploy
