Repository openlattice/openlattice, pull requests merged in 2021-02, with the labels that each got.

#110 set "keyword" as the field mapping for uuids
  datastore/src/main/java/com/openlattice/datastore/services/DatastoreElasticsearchImpl.java
  datastore/src/main/kotlin/DatastoreElasticsearchImpl.kt
  scrunchie/src/main/java/com/openlattice/scrunchie/search/ConductorElasticsearchImpl.java
Labels: datastore

#121 improve logging, remove lock scavenging+add try/catch for deleted ent…
  indexer/src/main/kotlin/com/openlattice/BackgroundExternalDatabaseSyncingService.kt
  indexer/src/main/kotlin/com/openlattice/indexing/BackgroundIndexedEntitiesDeletionService.kt
  indexer/src/main/kotlin/com/openlattice/indexing/BackgroundIndexingService.kt
Labels: indexer

#123 Bugfix/fix linker
  conductor-client/src/main/java/com/openlattice/linking/util/PersonProperties.java
  conductor-client/src/main/kotlin/com/openlattice/linking/graph/PostgresLinkingQueryService.kt
  linker/src/main/kotlin/com/openlattice/linking/BackgroundLinkingService.kt
  linker/src/main/kotlin/com/openlattice/linking/DataLoader.kt
  linker/src/main/kotlin/com/openlattice/linking/EdmCachingDataLoader.kt
  linker/src/main/kotlin/com/openlattice/linking/blocking/Block.kt
  linker/src/main/kotlin/com/openlattice/linking/blocking/Blocker.kt
  linker/src/main/kotlin/com/openlattice/linking/blocking/ElasticsearchBlocker.kt
  linker/src/main/kotlin/com/openlattice/linking/clustering/PostgresClusterer.kt
  linker/src/main/kotlin/com/openlattice/linking/matching/SocratesMatcher.kt
Labels: linker
